*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(135deg,#00c6ff,#0072ff);
  font-family: Arial, Helvetica, sans-serif;
}
.main-container{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.sub-container{
    margin: 100px  50px auto;
    background: #fff;
    padding: 100px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);   
}
.header{
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
}
label{
    font-size: 20px;
}
input{
    outline: none;
    padding: 10px;
    border-radius: 5px;
}
.loadBtn{
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    background-color: #0072ff;
    color: #fff;
    font-size: 15px;
    transition: background-color 0.3s;
}
.loadBtn:hover{
    background-color: #00c6ff;
}

.loader {
  display: none;
  height: 25px;
  width: 25px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #f5f2f2 #e6e4e400;
  animation: l1 1s infinite;
  margin-left: 10px;
}
@keyframes l1 {to{transform: rotate(.5turn)}}

.fail{
    width: 100px;
    margin-top: 20px;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
     
}